body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  line-height: 1.6;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
}

.hidden {
  display: none !important;
}

.wrapper-split-content {
  position: relative;
  width: 100%;
  height: 55vw;
  overflow: hidden;
}

.layer {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
  overflow: hidden;
}

.layer .content-wrap {
  position: absolute;
  width: 100vw;
  min-height: 55vw;
}

.layer .content-wrap video {
  width: 100%;
}

.layer .content-body {
  width: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.layer img {
  max-width: 100vw;
}

.layer h2 {
  font-size: 2.5em;
  color: white;
  line-height: 1;
}

.bottom {
  background-color: #b9053b;
  z-index: 1;
}

.bottom .content-wrap {
  opacity: 0.7;
}

.bottom .content-body {
  right: 5%;
  top: 80%;
}

.bottom h1 {
  color: #fdab00;
}

.top {
  background-color: #000000;
  color: #222;
  z-index: 2;
  width: 50vw;
}

.top .content-body {
  left: 5%;
  color: #222;
}

.top i {
  color: white;
  position: absolute;
  top: 5%;
  left: 7%;
  font-size: 1em;
  cursor: pointer;
}

.slider {
  position: absolute;
  height: 100%;
  display: block;
  background-color: #fdfdfd;
  width: 10px;
  top: 0;
  left: 70%;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider.slider-animation {
  -webkit-animation-name: slider-animation;
          animation-name: slider-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.handle {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 80px;
  height: 80px;
  background-color: #282c2b;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  -webkit-animation: shadow-pulse 2s infinite;
          animation: shadow-pulse 2s infinite;
}

.handle:hover {
  width: 120px;
  height: 120px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.handle:hover i.fa-arrows-alt-h {
  font-size: 1.5em;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.skewed .slider {
  top: 50%;
  -webkit-transform: rotate(30deg) translateY(-50%);
          transform: rotate(30deg) translateY(-50%);
  height: 200%;
  -webkit-transform-origin: top;
          transform-origin: top;
}

.skewed .top {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  margin-left: -1000px;
  width: calc(70vw + 1000px);
}

.skewed .top.top-layer-animation {
  -webkit-animation-name: top-layer-animation;
          animation-name: top-layer-animation;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.skewed .top .content-wrap {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  margin-left: 1000px;
}

/* The animation code */
@-webkit-keyframes slider-animation {
  12.5% {
    left: calc(70% - 10%);
  }
  25% {
    left: 70%;
  }
  37.5% {
    left: calc(70% - 10%);
  }
  50% {
    left: 70%;
  }
}
@keyframes slider-animation {
  12.5% {
    left: calc(70% - 10%);
  }
  25% {
    left: 70%;
  }
  37.5% {
    left: calc(70% - 10%);
  }
  50% {
    left: 70%;
  }
}

@-webkit-keyframes top-layer-animation {
  12.5% {
    width: calc((70vw - 10vw) + 1000px);
  }
  25% {
    width: calc(70vw + 1000px);
  }
  37.5% {
    width: calc((70vw - 10vw) + 1000px);
  }
  50% {
    width: calc(70vw + 1000px);
  }
}

@keyframes top-layer-animation {
  12.5% {
    width: calc((70vw - 10vw) + 1000px);
  }
  25% {
    width: calc(70vw + 1000px);
  }
  37.5% {
    width: calc((70vw - 10vw) + 1000px);
  }
  50% {
    width: calc(70vw + 1000px);
  }
}

@-webkit-keyframes shadow-pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}

@keyframes shadow-pulse {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    -webkit-box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 35px rgba(255, 255, 255, 0);
  }
}

@media (max-width: 768px) {
  .content-body {
    font-size: 75%;
  }
}
/*# sourceMappingURL=screen-slider.css.map */